<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Shopping List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="contain">
    <ion-col col-12>
      <button ion-button class="primary-button button new-list" (click)="openListForm()">
        <ion-icon name="add"></ion-icon>
        <span>Create new shopping list</span>
      </button>
    </ion-col>
    <div *ngFor="let list of shoppingLists" >
      <div class="shopping-list">
        <p class="list-name">{{list.name}}</p>
        <p class="error" *ngIf="list.budget < list.limit">
          You are running low on cash
        </p>
        <div class="items">
          <ul>
            <li *ngFor="let item of list.items" class="item-name">
              <ion-row>
                <ion-col col-7>
                  <p>{{ item.item.name }}
                </ion-col>
                <ion-col col-3>
                  <p>{{ item.price }} KES</p>
                </ion-col>
                <ion-col col-1>
                  <ion-checkbox [(ngModel)]="item.bought" (click)="updateBought(list, item)"></ion-checkbox>
                </ion-col>
                <ion-col col-1>
                  <ion-icon ios="ios-more" md="md-more"></ion-icon>
                </ion-col>
              </ion-row>
            </li>
            <li class="item-name">
              <ion-row>
                <ion-col col-7>
                  <p class="total">Total</p>
                </ion-col>
                <ion-col col-2 class="total">
                  <p> {{ list.total }} KES</p>
                </ion-col>
              </ion-row>
            </li>
          </ul>
          <div>
            <button ion-button class="primary-button button new-list new-add" (click)="addItem(list)">New Item</button>
          </div>
        </div>
        <div class="separator"></div>
        <ion-row>
          <ion-col col-7 margin-left>
            <p>Total for items bought</p>
          </ion-col>
          <ion-col col-2>
            <p class="list-budget">{{ list.total_bought }} KES</p>
          </ion-col>
          <ion-col col-7 margin-left>
            <p>Your budget</p>
          </ion-col>
          <ion-col col-2>
            <p class="list-budget">{{ list.budget }} KES</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-row>
</ion-content>
